<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('DCR')" data-ng-class="{active: currency.symbol == 'DCR'}">DCR</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mDCR')" data-ng-class="{active: currency.symbol == 'mDCR'}">mDCR</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('dbits')" data-ng-class="{active: currency.symbol == 'dbits'}">dbits</a>
  </li>
</ul>

